<%- include('partial/header') %>

    <div class="container d-flex justify-content-md-around">
        <h3>
            Hi <%= user.username %>!
        </h3>

        <form action="/post/<%=user.username%>" method="get">
            <input type="hidden" value="<% user %> ">
            <button class="btn btn-md btn-warning" type="submit">Create new post</button>
        </form>



    </div>
    <div class="container">
        <% user.posts.forEach(post=> { %>
            <p>
                <%= post.content %>
            </p>
            <%}) %>

    </div>
    <%- include('partial/footer') %>